:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-modal-color: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*----------------------- BUTTONS*/

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  color: var(--white-color);
  background: var(--iris-color);
  border: 1px solid var(--iris-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.button--filter {
  padding: 12px 24px;
  color: var(--iris-color);
  background: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
}

.button:hover,
.button:focus,
.button.active {
  color: var(--white-color);
  background: var(--ocean-color);
  border: 1px solid var(--ocean-color);
}

/*----------------------- TYPOGRAPHY*/

.title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin: 0;
}

.title.title--hero {
  font-size: 56px;
  line-height: 1.07;
  text-transform: none;
  color: var(--white-color);
}

.subtitle {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

/*----------------------- HEADER*/

.header {
  box-sizing: border-box;
  background: var(--white-color);
  border-bottom: 1px solid var(--cornflower-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.invers_color {
  color: var(--navy-blue-color);
}

.footer .invers_color {
  color: var(--cloud-color);
}

.header__menu .link,
.header__contacts .link {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--navy-blue-color);
  outline: none;
}

.header__contacts .link {
  font-weight: 400;
  color: var(--slate-color);
}

.header__menu .link:hover,
.header__menu .link:focus,
.header__contacts .link:hover,
.header__contacts .link:focus {
  color: var(--ocean-color);
}

.address {
  font-style: normal;
}

/*----------------------- SECTION HERO*/

.section--hero {
  background: var(--navy-blue-color);
}

/*----------------------- SECTION TEAM*/

.section--team {
  background: var(--cloud-color);
}

.team__card {
  background: var(--white-color);
}

/*----------------------- SECTION PORTFOLIO*/

.portfolio .link {
  color: inherit;
}

/*----------------------- FOOTER*/

.footer {
  background: var(--navy-blue-color);
  color: var(--cloud-color);
}
